[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/LibreOffice/dictionaries
	branch = .
    shallow = true
[submodule "helpcontent2"]
	path = helpcontent2
	url = https://github.com/LibreOffice/help
	branch = .
    shallow = true
[submodule "translations"]
	path = translations
	url = https://github.com/LibreOffice/translations
	branch = .
    shallow = true
