<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.uno:EditMenu</key>
	<dict>
		<key>ar</key>
		<string>تحرير</string>
		<key>ca</key>
		<string>Editar</string>
		<key>cs</key>
		<string>Úpravy</string>
		<key>da</key>
		<string>Rediger</string>
		<key>de</key>
		<string>Bearbeiten</string>
		<key>el</key>
		<string>Επεξεργασία</string>
		<key>es-419</key>
		<string>Edición</string>
		<key>es</key>
		<string>Edición</string>
		<key>fi</key>
		<string>Muokkaa</string>
		<key>fr</key>
		<string>Édition</string>
		<key>he</key>
		<string>עריכה</string>
		<key>hr</key>
		<string>Uredi</string>
		<key>hu</key>
		<string>Szerkesztés</string>
		<key>id</key>
		<string>Edit</string>
		<key>it</key>
		<string>Modifica</string>
		<key>ja</key>
		<string>編集</string>
		<key>ko</key>
		<string>편집</string>
		<key>ms</key>
		<string>Edit</string>
		<key>nb</key>
		<string>Rediger</string>
		<key>nl</key>
		<string>Wijzig</string>
		<key>pl</key>
		<string>Edycja</string>
		<key>pt-BR</key>
		<string>Editar</string>
		<key>pt-PT</key>
		<string>Edição</string>
		<key>ro</key>
		<string>Editare</string>
		<key>ru</key>
		<string>Правка</string>
		<key>sk</key>
		<string>Upraviť</string>
		<key>sv</key>
		<string>Redigera</string>
		<key>th</key>
		<string>แก้ไข</string>
		<key>tr</key>
		<string>Düzen</string>
		<key>uk</key>
		<string>Редагування</string>
		<key>vi</key>
		<string>Sửa</string>
		<key>zh-Hans</key>
		<string>编辑</string>
		<key>zh-Hant</key>
		<string>編輯</string>
	</dict>
</dict>
</plist>
